// file for defining variables, mixins, reset styles, etc.

// variables for colors
$color-dark: #262626;
$color-black: #000;
$color-white: #fff;
$color-primary: #d3ab55;
$color-secondary: #bbb;

// variables for fonts
$font-dancingScript: "Dancing Script", cursive;
$font-josefinSans: "Josefin Sans", sans-serif;
$font-nunito: "Nunito", sans-serif;

// mixins
@mixin flexLayout {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin textStyles($fontFamily, $fontSize, $fontWeight, $letterSpacing, $textTransform) {
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontWeight;
	letter-spacing: $letterSpacing;
	text-transform: $textTransform;
}

@mixin centering($top) {
	position: absolute;
	top: $top;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin headingStyles($fontFamily, $fontSize, $color, $marginBottom) {
	font-family: $fontFamily;
	font-size: $fontSize;
	color: $color;
	margin-bottom: $marginBottom;
}

%fullSpace {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $color-dark;
}
